{% extends 'layout.html' %}

{% block body %}
    <div class="p-3" style="max-width: 500px; margin-left: auto; margin-right: auto; margin-top: 3rem; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);">
        <div style="max-width: 400px; margin-left: auto; margin-right: auto;">
            <h1 style="text-align: center;">Account Login</h1>
            {% from "includes/_formhelpers.html" import render_field %}
            <form action="" method="POST">
                <div class="form-group">
                    {{render_field(form.username, class_="form-control")}}
                    <!-- <label>Username</label>
                    <input type="text" name="username" placeholder="Username" class="form-control" value={{request.form.username}}> -->
                </div>
                <div class="form-group">
                    {{render_field(form.password, class_="form-control")}}
                    <!-- <label>Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control" value={{request.form.password}}> -->
                </div>
                <div class="pt-3" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}