{% extends 'layout.html' %}

{% block body %}
    <div class="p-3" style="max-width: 500px; margin-left: auto; margin-right: auto; margin-top: 3rem; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);">
        <div style="max-width: 400px; margin-left: auto; margin-right: auto;">
            <h1>Register</h1>
            {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" action="">
                <div class="form-group">
                    {{render_field(form.name, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.email, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.username, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.password, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.confirm, class_="form-control")}}
                </div>
                <p class="pt-3"><input type="submit" class="btn btn-primary" value="Submit"></p>
            </form>
        </div>
    </div>
{% endblock %}